In [80]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/new-york-city-corporate-loans/NYC_Loans.csv

In [81]:
data = pd.read_csv("/kaggle/input/new-york-city-corporate-loans/NYC_Loans.csv")

In [82]:
data.head()

,Authority Name,Fiscal Year End Date,Loans,Loan Fund Sources,Recipient Name,Recipient City,Recipient State,Recipient Postal Code,Date Loan Awarded,Original Loan Amount,Interest Rate,Loan Length,Amount Repaid,Loan Purpose,New Jobs,Jobs Planned,Jobs Created,Loan Terms Completed
0,Columbia County Capital Resource Corporation,12/31/2011,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Monroe County Sports Development Corporation,12/31/2011,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Riverhead IDA Economic Job Development Corpora...,12/31/2011,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Greene Tobacco Asset Securitization Corporation,12/31/2011,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Hudson Yards Development Corporation,06/30/2014,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13513 entries, 0 to 13512
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Authority Name         13513 non-null  object
 1   Fiscal Year End Date   13513 non-null  object
 2   Loans                  1540 non-null   object
 3   Loan Fund Sources      11973 non-null  object
 4   Recipient Name         11973 non-null  object
 5   Recipient City         11973 non-null  object
 6   Recipient State        11972 non-null  object
 7   Recipient Postal Code  11973 non-null  object
 8   Date Loan Awarded      11973 non-null  object
 9   Original Loan Amount   11973 non-null  float64
 10  Interest Rate          11973 non-null  float64
 11  Loan Length            11973 non-null  float64
 12  Amount Repaid          11973 non-null  float64
 13  Loan Purpose           11973 non-null  object
 14  New Jobs               11973 non-null  object
 15  Jobs Planned           5711 non-null   float64
 16  Jobs Created           5685 non-null   float64
 17  Loan Terms Completed   11973 non-null  object
dtypes: float64(6), object(12)
memory usage: 1.9+ MB

In [84]:
data.isnull().sum()

Authority Name               0
Fiscal Year End Date         0
Loans                    11973
Loan Fund Sources         1540
Recipient Name            1540
Recipient City            1540
Recipient State           1541
Recipient Postal Code     1540
Date Loan Awarded         1540
Original Loan Amount      1540
Interest Rate             1540
Loan Length               1540
Amount Repaid             1540
Loan Purpose              1540
New Jobs                  1540
Jobs Planned              7802
Jobs Created              7828
Loan Terms Completed      1540
dtype: int64

In [85]:
data['Loan Terms Completed'].nunique()

2

This is a supervised classification problem. We will drop the data which has NAs in target variable which is 'Loan Terms Completed'.

In [86]:
data.columns

Index(['Authority Name', 'Fiscal Year End Date', 'Loans', 'Loan Fund Sources',
       'Recipient Name', 'Recipient City', 'Recipient State',
       'Recipient Postal Code', 'Date Loan Awarded', 'Original Loan Amount',
       'Interest Rate', 'Loan Length', 'Amount Repaid', 'Loan Purpose',
       'New Jobs', 'Jobs Planned', 'Jobs Created', 'Loan Terms Completed'],
      dtype='object')

In [87]:
data['Authority Name'].nunique()

311

In [88]:
data['Fiscal Year End Date'].nunique()

66

In [89]:
data['Loans'].nunique()

1

In [90]:
data['Loans'].fillna("yes", inplace = True)

In [91]:
data.isnull().sum()

Authority Name              0
Fiscal Year End Date        0
Loans                       0
Loan Fund Sources        1540
Recipient Name           1540
Recipient City           1540
Recipient State          1541
Recipient Postal Code    1540
Date Loan Awarded        1540
Original Loan Amount     1540
Interest Rate            1540
Loan Length              1540
Amount Repaid            1540
Loan Purpose             1540
New Jobs                 1540
Jobs Planned             7802
Jobs Created             7828
Loan Terms Completed     1540
dtype: int64

In [92]:
data1 = data[data['Loans'] == "yes"]

In [93]:
data1.columns

Index(['Authority Name', 'Fiscal Year End Date', 'Loans', 'Loan Fund Sources',
       'Recipient Name', 'Recipient City', 'Recipient State',
       'Recipient Postal Code', 'Date Loan Awarded', 'Original Loan Amount',
       'Interest Rate', 'Loan Length', 'Amount Repaid', 'Loan Purpose',
       'New Jobs', 'Jobs Planned', 'Jobs Created', 'Loan Terms Completed'],
      dtype='object')

In [94]:
del data1['Fiscal Year End Date'], data1['Loans'], data1['Loan Fund Sources'], data1['Recipient State'], data1['Recipient Postal Code'], data1['Date Loan Awarded']

In [95]:
data1.head()

,Authority Name,Recipient Name,Recipient City,Original Loan Amount,Interest Rate,Loan Length,Amount Repaid,Loan Purpose,New Jobs,Jobs Planned,Jobs Created,Loan Terms Completed
11,Watertown Industrial Center Local Development ...,Ferguson Waterworks,WATERTOWN,100000.00,3.0,5.0,61741.85,Commercial Property Construction/Acquisition/R...,No,NaN,NaN,No
12,Watertown Industrial Center Local Development ...,Ferguson Waterworks,WATERTOWN,25179.75,3.0,5.0,25179.75,Commercial Property Construction/Acquisition/R...,No,NaN,NaN,Yes
13,Watertown Industrial Center Local Development ...,Jefferson County Job Development Corporation,WATERTOWN,81000.00,3.0,5.0,81000.00,Commercial Property Construction/Acquisition/R...,No,NaN,NaN,Yes
14,Watertown Industrial Center Local Development ...,ServPro of Jefferson County,WATERTOWN,58457.00,3.0,10.0,15840.62,Commercial Property Construction/Acquisition/R...,No,NaN,NaN,No
21,Potsdam Community Development Corporation,St. Lawrnce Chocolates,POTSDAM,35000.00,5.0,7.0,3918.40,Business Expansion/Startup,Yes,1.0,1.0,Yes

In [96]:
data1.isnull().sum()

Authority Name             0
Recipient Name             0
Recipient City             0
Original Loan Amount       0
Interest Rate              0
Loan Length                0
Amount Repaid              0
Loan Purpose               0
New Jobs                   0
Jobs Planned            6262
Jobs Created            6288
Loan Terms Completed       0
dtype: int64

In [97]:
data1.shape

(11973, 12)

In [98]:
data1['Jobs Planned'] = data1.groupby(['Recipient Name'], sort=False)['Jobs Planned'].apply(lambda x: x.fillna(x.mean()))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [99]:
data1['Jobs Created'] = data1.groupby(['Recipient Name'], sort=False)['Jobs Created'].apply(lambda x: x.fillna(x.mean()))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [100]:
data1.isnull().sum()

Authority Name             0
Recipient Name             0
Recipient City             0
Original Loan Amount       0
Interest Rate              0
Loan Length                0
Amount Repaid              0
Loan Purpose               0
New Jobs                   0
Jobs Planned            5923
Jobs Created            5961
Loan Terms Completed       0
dtype: int64

In [101]:
data1['Jobs Planned'].ffill(inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/series.py:4469: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [102]:
data1['Jobs Created'].ffill(inplace=True)

In [103]:
data1.isnull().sum()

Authority Name          0
Recipient Name          0
Recipient City          0
Original Loan Amount    0
Interest Rate           0
Loan Length             0
Amount Repaid           0
Loan Purpose            0
New Jobs                0
Jobs Planned            4
Jobs Created            4
Loan Terms Completed    0
dtype: int64

In [104]:
data1.dropna(inplace=True)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [105]:
data1.isnull().sum()

Authority Name          0
Recipient Name          0
Recipient City          0
Original Loan Amount    0
Interest Rate           0
Loan Length             0
Amount Repaid           0
Loan Purpose            0
New Jobs                0
Jobs Planned            0
Jobs Created            0
Loan Terms Completed    0
dtype: int64

In [106]:
data1.shape

(11969, 12)

In [107]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11969 entries, 21 to 13512
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Authority Name        11969 non-null  object
 1   Recipient Name        11969 non-null  object
 2   Recipient City        11969 non-null  object
 3   Original Loan Amount  11969 non-null  float64
 4   Interest Rate         11969 non-null  float64
 5   Loan Length           11969 non-null  float64
 6   Amount Repaid         11969 non-null  float64
 7   Loan Purpose          11969 non-null  object
 8   New Jobs              11969 non-null  object
 9   Jobs Planned          11969 non-null  float64
 10  Jobs Created          11969 non-null  float64
 11  Loan Terms Completed  11969 non-null  object
dtypes: float64(6), object(6)
memory usage: 1.2+ MB

In [108]:
def frequency_encode(data, col):
    enc_nom_1 = (data.groupby(col).size()) / len(data)
    freqen = "Freq_{}".format(col)
    data[freqen] = data[col].apply(lambda x : enc_nom_1[x])
    del data[col]
    return data

In [109]:
data1.columns

Index(['Authority Name', 'Recipient Name', 'Recipient City',
       'Original Loan Amount', 'Interest Rate', 'Loan Length', 'Amount Repaid',
       'Loan Purpose', 'New Jobs', 'Jobs Planned', 'Jobs Created',
       'Loan Terms Completed'],
      dtype='object')

In [110]:
cols = ['Authority Name', 'Recipient Name', 'Recipient City','Loan Purpose']

In [111]:
data1['Loan Terms Completed'] = data1['Loan Terms Completed'].apply(lambda x: 0 if x == "No" else 1)
data1['New Jobs'] = data1['New Jobs'].apply(lambda x: 0 if x == "No" else 1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [112]:
for col in cols:
    data1 = frequency_encode(data1, col)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [113]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11969 entries, 21 to 13512
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Original Loan Amount  11969 non-null  float64
 1   Interest Rate         11969 non-null  float64
 2   Loan Length           11969 non-null  float64
 3   Amount Repaid         11969 non-null  float64
 4   New Jobs              11969 non-null  int64
 5   Jobs Planned          11969 non-null  float64
 6   Jobs Created          11969 non-null  float64
 7   Loan Terms Completed  11969 non-null  int64
 8   Freq_Authority Name   11969 non-null  float64
 9   Freq_Recipient Name   11969 non-null  float64
 10  Freq_Recipient City   11969 non-null  float64
 11  Freq_Loan Purpose     11969 non-null  float64
dtypes: float64(10), int64(2)
memory usage: 1.2 MB

In [114]:
data1['New Jobs'].unique()

array([1, 0])

In [115]:
y = data1['Loan Terms Completed']

In [116]:
del data1['Loan Terms Completed']

In [117]:
x = data1

In [118]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11969 entries, 21 to 13512
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Original Loan Amount  11969 non-null  float64
 1   Interest Rate         11969 non-null  float64
 2   Loan Length           11969 non-null  float64
 3   Amount Repaid         11969 non-null  float64
 4   New Jobs              11969 non-null  int64
 5   Jobs Planned          11969 non-null  float64
 6   Jobs Created          11969 non-null  float64
 7   Freq_Authority Name   11969 non-null  float64
 8   Freq_Recipient Name   11969 non-null  float64
 9   Freq_Recipient City   11969 non-null  float64
 10  Freq_Loan Purpose     11969 non-null  float64
dtypes: float64(10), int64(1)
memory usage: 1.1 MB

In [119]:
from sklearn.preprocessing import StandardScaler
x = StandardScaler().fit_transform(x)

In [120]:
from sklearn.model_selection import train_test_split

In [121]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [122]:
from sklearn.svm import SVC

In [123]:
svc = SVC(kernel='rbf')
svc.fit(x_train, y_train)

SVC()

In [124]:
y_pred = svc.predict(x_test)

In [125]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[1997    8]
 [ 363   26]]
              precision    recall  f1-score   support

           0       0.85      1.00      0.92      2005
           1       0.76      0.07      0.12       389

    accuracy                           0.85      2394
   macro avg       0.81      0.53      0.52      2394
weighted avg       0.83      0.85      0.79      2394